<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./header") %>
        <title>terms</title>
</head>

<body>
    <div class="container" style="margin-top:30px">
        <h2 class="text-center">Terms of Service – Privacy Policy</h2><br>
        <h5>Introduction</h5>
        <p class="pl-3">
            First of all, thank you for visiting this website and also apologize for my bad English, so the sentence is not fluent, hope you understand and forgive. (I'm in the process of improving my English, so I just write in English to know I'm wrong but also
            correct it)
        </p>
        <h5>Purpose and scope</h5>
        <h6 class="pl-2">Purpose</h6>
        <p class="pl-3">
            - This web app was born with the purpose of posting thoughts, problems encountered in the process of working or studying... to discuss and share knowledge in the fields of programming, poetry, books, topic about science... With the desire to improve knowledge
            for myself and as well as for everyone to register to use this web app.
        </p>
        <p class="pl-3">
            - I commit to only using the information within the web app in accordance with the stated purposes.
        </p>
        <h6 class="pl-2">scope</h6>
        <p class="pl-3">
            - I recommend not to post important information on this web app.
        </p>
        <p class="pl-3">
            - Do not post vulgar articles with inappropriate content.
        </p>
        <p class="pl-3">
            - Do not post political articles, or articles used to attack an individual or organization.
        </p>
        <p class="pl-3">
            *** If you violate one of the above, I ask for your permission to delete your post or permanently delete your account from this web app. (For a civilized, polite and studious community) ***
        </p>
        <h5>Privacy</h5>
        <p class="pl-3">
            - You can post in 2 modes: private or public.
        </p>
        <p class="pl-3">
            - In the study space section on the menu bar: this is your completely private space.
        </p><br>
        <p>Thank you for reading this far, if you find it interesting, please register at <a href="/signup">sign up</a></p>

    </div>
    <%- include("./footer") %>
</body>

</html>